.container {
  height: 70%;
}

.content {
  &_img{
    display: flex;
    justify-content: center;

    img{
      -webkit-user-drag: none;
        user-select: none;
    }
  }
  &_info {
    width: 50%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  &_title {
    margin: 20px 0;
    font-size: 40px;
  }
  &_playlist {
    position: absolute;
    top: 20px;
    right: 20px;
  }
}

.playlist {
  display: flex;
  align-items: center;
  padding: 8px;
  background-color: rgba(0, 0, 0, 0.05);
  cursor: pointer;
  &_sort{
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.05);
  }
  &_sort:hover {
    background-color: rgba(0, 0, 0, 0);
  }
  &_sort:active {
    background-color: rgba(0, 0, 0, 0.1);
  }
}
.playlist:hover {
  background-color: rgba(0, 0, 0, 0);
}
.playlist:active {
  background-color: rgba(0, 0, 0, 0.1);
}
.playlist_none{
  display: none;
}
.playlist_active{
  position: absolute;
  right: 0px;
  padding: 8px;
  width: 200px;
  height: 300px;
  margin-top: 10px;

  &_cur {
    display: flex;
    align-items: center;
    margin: 2px 0;
    padding: 2px 0 2px 5px;
    height: 40px;
    color: rgb(0, 0, 0);
    background-color: rgba(255, 255, 255, 0.2);
    overflow: hidden;
    white-space: nowrap;
  }
  &_cur:hover{
    background-color: rgba(0, 0, 0, 0.0);
    cursor: pointer;
  }
  &_cur:active{
    background-color: rgba(0, 0, 0, 0.1);
    cursor: pointer;
  }
}

.img_cont{
  transform: translateY(-30px);
  width: 30%;
  height: 30%;
}
