.media {
  display: flex;
  flex-direction: column;
  // height: 30%;
  flex: 1;

  input[type=range]::-webkit-slider-thumb {
    margin-top: 0px;
    width: 15px;
    height: 7px;
    background: #24b89a;
    border: 0;
    cursor: pointer;
    -webkit-appearance: none;
  }
  input[type=range] {
    overflow: hidden;
    margin: 0px 0;
    -webkit-appearance: none;
    background-color: transparent;
  }
  input[type=range]::-webkit-slider-runnable-track {
    cursor: pointer;
  }

  &_main {
    flex: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
    img{
      width: 35px;
      height: 35px;
      cursor: pointer;
      -webkit-user-drag: none;
      user-select: none;
    }
    img:hover {
      width: 40px;
      height: 40px;
    }
    input[type=range]::-webkit-slider-thumb{
      box-shadow: -60px 0px 0px 60px #04ebbc;
     }
  }

  &_timeline {
   display: flex;

   input[type=range] {
    width: 100%;
   }
   input[type=range]::-webkit-slider-thumb{
    box-shadow: -500px 0px 0px 500px #04ebbc;
   }
  }
}

.timelineBar {
  --width: 0;
}