.App {
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(135deg, white, lightgreen, darkblue);
}

.player {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: calc(50% - 350px);
  margin: 0 auto;
  max-width: 1000px;
  height: 700px;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.3);
}

@media (max-width:900px) {
  .player {
    top: calc(50% - 45vh);
    height: 90vh;
    font-size: 13px;
    margin: 5px;
    .container {
      height: 75%;
    }
    .content_playlist{
      right: 10px;
    }
    .playlist {
      padding: 6px;
    }
    .content_title{
      font-size: 30px;
    }
    .media_main {
      img{
        width: 25px;
        height: 25px;
      }
      img:hover{
        width: 30px;
        height: 30px;
      }
    }
    .content_info {
      width: 90%;
    }
  }
}

@media (max-width: 470px) {
  .player {
    .playlist_active {
      top: 240px;
      width: 92vw;
      height: 25vh;
    }
  }
}

@media (min-width: 471px) and (max-width: 900px) {
  .player {
    .img_cont {
      width: 35%;
      height: 35%;
    }
    .playlist_active {
      top: 270px;
      width: 50vw;
      height: 30vh;
    }
  }
}